In [13]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [14]:
type(2)

int

In [15]:
float(2)

2.0

In [16]:
type(float(2))

float

In [17]:
int(1.1)

1

In [18]:
float('3.125')

3.125

In [19]:
int('457')

457

In [20]:
str(3.2)

'3.2'

In [21]:
type(True)

bool

In [22]:
float(True)

1.0

In [23]:
type(6/2)

float

In [24]:
6//2

3

In [25]:
type("Hello, World!")

str

In [26]:
type("hello" == "World")

bool

In [27]:
type(1001)

int

In [28]:
int(1001)

1001

In [29]:
type("1001")

str

In [30]:
int("1001")

1001

In [31]:
float("1234.56")

1234.56

In [32]:
str("123-456-7890")

'123-456-7890'

In [33]:
var = 20
print(var)

20

In [34]:
var:10

print(var)

20

In [38]:
import time

for i in range(10):
    print(f"progress: {i}/10", end = '\r')
    time.sleep(2)

print("\nTask Complete")

progress: 9/10
Task Complete

In [40]:
x = 3+2*2
x

7

In [41]:
y = (3+2)*2
y

10

In [42]:
z = x+y
z

17

In [43]:
11//2

5

In [45]:
x = 4
x/2

2.0

In [47]:
y = 2*x*x -3
y

29

In [58]:
name = 'prateek is an engineer'
name[5]

'e'

In [59]:
name[::2]

'paeki negne'

In [60]:
name.upper()

'PRATEEK IS AN ENGINEER'

In [63]:
a = name.replace('prateek','Pragya')

In [66]:
a

'Pragya is an engineer'

In [67]:
a.find('t')

-1

In [69]:
name = "Prateek"
age = 23
print(f"My name is {name} and I am {age} years old.")

My name is Prateek and I am 23 years old.

In [70]:
name = "Pragya"
age = 23
print("My name is {} and I am {} years old.".format(name, age))

My name is Pragya and I am 23 years old.

In [71]:
name = "Akash"
age = 25
print("My name is %s and I am %d years old." % (name, age))

My name is Akash and I am 25 years old.

In [72]:
x = 45
y = 37
z = 22
print(f'The sum of x, y and z is: {x+y+z}')

The sum of x, y and z is: 104

In [73]:
len("Pragya")

6

In [74]:
a[8:12]

's an'

In [76]:
st = name + " is the worst."
st

'Akash is the worst.'

In [80]:
3 * "Prateek"

'PrateekPrateekPrateek'

In [81]:
split = a.split()

In [82]:
split

['Pragya', 'is', 'an', 'engineer']

In [84]:
import re

s1 = "Prateek is the worst."

pattern = r"Prateek"

res = re.search(pattern, s1)

res

In [85]:
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"


# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", s2)

# Print out the list of matched words
print(result)

['as', 'as']

In [86]:
# Define the regular expression pattern to search for
pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

Michael Jackson was a singer and known as the 'legend'

In [89]:
a = "1"
b = "2"

'2'

In [91]:
c = a + b
c

'12'

In [93]:
d = "ABCDEFGH"
d[:3]

'ABC'

In [94]:
e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [95]:
print("\\")

\

In [96]:
f = "You are wrong!!!"
f.upper()

'YOU ARE WRONG!!!'

In [97]:
f.lower()

'you are wrong!!!'

In [100]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("snow")

95

In [101]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [102]:
"helloMike".find("Mike")

5

In [103]:
print("AB\nC\nDE")

AB
C
DE